<!DOCTYPE html>
<html>
<head>
  <title>Psephologyapp</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>psephology</title> 
  <meta property="og:title" content="">
  <link rel="prefetch" href="images/zoom.png">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
